@import "./styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$background-purple-green: linear-gradient(135.88deg, rgba(20, 20, 57, 0.62) 0%, rgba(41, 24, 63, 0.35) 25%, rgba(43, 50, 115, 0.29) 56.77%, rgba(118, 131, 220, 0.1) 71.88%, rgba(78, 110, 102, 0.14) 100%);
$border-purple-green: linear-gradient(135.88deg, #141439 0%, rgba(41, 24, 63, 0.54) 41.57%, rgba(206, 234, 243, 0.03) 100%);

$clear: transparent;

.edit-page {}

.hidden {
    display: none;
}

.editor-course_title {
    color: $white;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline;
}

.editor-course_description ,
.editor-course_title {
    input {
        width: 100%;
    }
}

.editor-course_description {
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid #9B9A9A;
    box-shadow: inset 0px 0px 6px 1px rgba(134, 132, 132, 0.25);
    border-radius: 6px;
    color: $gray;
    margin-bottom: 10px;
    padding: 10px 15px;

    input {
        color: $gray;
    }

    &.preview {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }
}

.editor-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
}

.editor__assignment {
    font-weight: 700;
}

.editor__assignment,
.svelte-select {
    margin-bottom: 10px !important;
}

.editor__chapter {
    input {
        background: $white;
        border: 1px solid #9B9A9A;
        border-radius: 5px;
        box-shadow: inset 0px 0px 6px 1px rgba(230, 223, 223, 0.25);
        color: $black;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 10px;
        padding: 10px 15px;
        width: 100%;
    }
}

.svelte-select {
    font-weight: 800;
    max-width: 200px;
} 

.chapters-list-title,
.chapters-list li {
    padding: 10px 15px;
}

.show-navbar {
    display: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .page-title {
        color: $light-green;
        font-size: 32px;
        margin-bottom: 10px;
        text-align: left;
    }

    .btn-container {
        margin-left: 0;
        max-width: 230px;
        margin-top: 20px;
        width: fit-content;
    }

    .page-container_grade {
        background: $table-header-color;
        border: 1px solid;
        border-color: $table-header-border-color;
        border-radius: 9px;
        color: $white;
        font-weight: 600;
        margin-bottom: 20px;
        padding: 10px 15px;
        width: 200px;
    }
}

.chapters-list {
    backdrop-filter: $blur;
    background: $background-purple-green;
    border: 1px solid;
    border-image-source: $border-purple-green;
    border-radius: 6px;
    box-shadow: $shadow-card-course;
    font-size: 16px;
    font-weight: 600;
    height: max-content;
    margin-right: 15px;
    min-width: 20%;
    overflow-x: hidden;
    padding: 10px;
    width: 20%;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(93, 78, 107, 0.253);
        border-radius: 5px;
    }


    &::-webkit-scrollbar-track {
        background: #18013b44;
    }

    li {
        cursor: pointer;

        &.active,
        &:hover {
            background-color: #db9dff0c;
            border: 1px solid;
            border-image-source: $border-purple-green;
            border-radius: 6px;
            box-shadow: 0px 4px 24px -1px rgba(149, 104, 255, 0.075);
            padding: 9px 13px;
        }

        &.task {
            background: $clear url("$lib/images/task.svg") no-repeat 15px center;
            background-size: 16px;
            padding-left: 40px;
        }
    }

    a,
    button {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }

    .chapters-list-title button {
        color: $clear;
    }

    &.minimize {
        align-items: center;
        display: flex;
        height: 73vh;
        min-width: 34px;
        width: 34px;

        .chapters-list-title,
        ul {
            display: none;
        }

        .show-navbar {
            display: block;

            button {
                background: $clear url("$lib/images/arrow-forward-line.svg") no-repeat center center;
                background-size: 11px;
                color: $clear;
                width: 11px;
            }
        }
    }
}

.chapters-list-title {
    color: $light-green;
    display: flex;
    font-size: 17px;
    font-weight: 600;

    button {
        background: $clear url("$lib/images/arrow-back-line.svg") no-repeat center center;
        background-size: 11px;
        margin-left: auto;
        width: 11px;
    }
}


.course-container {
    display: flex;

    .course-content {
        border: 1px solid $table-header-border-color;
        border-radius: 6px;
        margin-left: auto;
        padding: 10px 15px;
        width: 100%;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
        }


        &::-webkit-scrollbar-track {
            background: #8a898913;
            border-radius: 5px;
        }
    }

    .chapters-list,
    .course-content {
        max-height: 75vh;
        overflow-y: auto;
    }

    .course-content {
        max-height: 60vh;
        min-height: 60vh;
    }

    .chapters-list.minimize {
        overflow: hidden;
    }
}

.course-preview {
    height: 100%;
    width: 80%;
}

.course-content {}

.course-preview,
.course-content {
    font-size: 17px;

    b {
        color: #5db48a;
        font-weight: 700;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 10px;
        text-align: left;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    &>* {
        line-height: 1.7;
        margin-bottom: 20px;
    }

    ul {
        list-style: disc;
        padding-left: 20px;
    }

    code {
        display: inline-block;
        padding: 3px 7px;
    }

    code,
    pre {
        background-color: #343333;
        border-radius: 4px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
    }

    pre {
        box-shadow: none;
        color: $white;
    }

    a {
        color: rgb(100, 58, 197);
    }

    p {}

    .assignment {
        @include table-card;
    }

    blockquote {
        background: #3b3b3b02;
        border-left: 5px solid $gray;
        color: $white;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }
}

.editor {
    height: 100%;
    width: 80%;

    .delete-chapter {
        background: $clear url("$lib/images/cross.svg") no-repeat center center;
        color: $clear;
        margin-left: 10px;
        width: 10px;
    }

    textarea {
        color: $white;
        height: 100%;
        padding: 10px;
        width: 100%;
    }

    .editor__toolbox {
        align-items: center;
        border: 1px solid #F5F5F738;
        border-radius: 9px 9px 0 0;
        display: flex;
        padding: 9px 28px;
        padding-left: 0;

        ul {
            display: flex;
            margin: 0 10px;
        }

        li {
            margin: 0 5px;
        }
    }

    input {
        color: $white;
    }

    .editor__chapter input {
        color: $black;
    }

    .option {
        height: 15px;
        width: 15px;
    }

    .bold {
        font-weight: 800;
    }

    .italic {
        font-family: 'Lora', serif;
        font-style: italic;
    }

    .cut {
        text-decoration: line-through;
    }

    .underline {
        text-decoration: underline;
    }

    .attachment {
        background-image: url('$lib/images/editor/attachment.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .link {
        background-image: url('$lib/images/editor/link.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .code {
        background-image: url('$lib/images/editor/code.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .list {
        background-image: url('$lib/images/editor/list.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .quote {
        background-image: url('$lib/images/editor/quote.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .editor__textfield {
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid #9B9A9A;
        box-shadow: inset 0px 0px 6px 1px rgba(230, 223, 223, 0.25);
        border-radius: 0px 0px 9px 9px;
        height: 69%;
    }

    .editor__actions {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        margin-top: 20px;
        .editor__clear {
            margin-right: auto;
        }
    }

    form {
        height: 100%;
    }
}

.course-description-page {
    h1 {
        text-align: left;
    }

    .course-banner {
        border-radius: 5px;
        display: flex;
        align-items: flex-end;
        height: 200px;
        margin-bottom: 20px;
        padding: 20px;
        position: relative;
        width: 100%;
        &::after {
            background: $background-purple-green;
            border: 1px solid;
            border-image-source: $border-purple-green;
            border-radius: 6px;
            box-shadow: $shadow-card-course;
            content: "";
            backdrop-filter: blur(2px);
            z-index: -1;
        }

        img,
        &::after {
            border-radius: 5px;
            height: 100%;
            left: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    img {
        object-fit: cover;
        z-index: -2;
    }

    p {
        font-size: 18px;
        font-weight: 500;
    }
}