@import "./styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$background-purple-green: linear-gradient(135.88deg, rgba(20, 20, 57, 0.62) 0%, rgba(41, 24, 63, 0.35) 25%, rgba(43, 50, 115, 0.29) 56.77%, rgba(118, 131, 220, 0.1) 71.88%, rgba(78, 110, 102, 0.14) 100%);
$border-purple-green: linear-gradient(135.88deg, #141439 0%, rgba(41, 24, 63, 0.54) 41.57%, rgba(206, 234, 243, 0.03) 100%);

$clear: transparent;

.edit-page {

}

.hidden {
    display: none;
}

.editor-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
}

.editor__chapter {
    padding-bottom: 15px;
    padding-top:  15px;
    input {
        border-bottom: 1px solid $gray;
        font-size: 20px;
        font-weight: 600;
    }
}

.chapters-list-title,
.chapters-list li {
    padding: 10px 15px;
    padding-bottom: 20px;
}

.show-navbar {
    display: none;
}

.chapters-list {
    backdrop-filter: $blur;
    background: $background-purple-green;
    border: 1px solid;
    border-image-source: $border-purple-green;
    border-radius: 6px;
    box-shadow: $shadow-card-course;
    font-size: 16px;
    font-weight: 600;
    height: max-content;
    margin-right: 15px;
    min-width: 20%;
    padding: 10px;
    width: 20%;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(93, 78, 107, 0.253);
        border-radius: 5px;
    }
      
    
    &::-webkit-scrollbar-track {
        background: #18013b44;
    }

    li {
        cursor: pointer;
        &.active,
        &:hover {
            background-color: #db9dff0c;
            border: 1px solid;
            border-image-source: $border-purple-green;
            border-radius: 6px;
            box-shadow: 0px 4px 24px -1px rgba(149, 104, 255, 0.075);
            padding: 9px 13px;
        }
    }

    a,
    button {
        color: $white;
        &:hover {
            text-decoration: none;
        }
    }

    .chapters-list-title button {
        color: $clear;
    }

    &.minimize {
        align-items: center;
        display: flex;
        height: 70vh;
        margin-right: 0;
        min-width: 34px;
        width: 34px;
        .chapters-list-title,
        ul {
            display: none;
        }

        .show-navbar {
            display: block;
            button {
                background: $clear url("$lib/images/arrow-forward-line.svg") no-repeat center center;
                background-size: 11px;
                color: $clear;
                width: 11px;
            }
        }
    }
}

.chapters-list-title {
    color: $light-green;
    display: flex;
    font-size: 17px;
    font-weight: 600;
    button {
        background: $clear url("$lib/images/arrow-back-line.svg") no-repeat center center;
        background-size: 11px;
        margin-left: auto;
        width: 11px;
    }
}


.course-container {
    display: flex;
    .course-content {
        margin-left: auto;
        padding: 0 20px;
        width: 100%;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
        }
          
        
        &::-webkit-scrollbar-track {
            background: #8a898913;
            border-radius: 5px;
        }
    }

    .chapters-list,
    .course-content {
        max-height: 75vh;
        overflow-y: auto;
    }

    .chapters-list.minimize {
        overflow: hidden;
    }
}

.course-preview {
    height: 100%;
    width: 80%;
}

.course-content {

}

.course-preview,
.course-content {
    font-size: 17px;
    b {
        color: #5db48a;
        font-weight: 700;
    }
    h1,
    h2,
    h3 {
        margin-bottom: 10px;
        text-align: left;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    & > * {
        line-height: 1.7;
        margin-bottom: 20px;
    }

    ul {
        list-style: disc; 
        padding-left: 20px;  
    }

    code {
        display: inline-block;
        padding: 3px 7px;
    }

    code,
    pre {
        background-color: #343333;
        border-radius: 4px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
    }

    pre {
        box-shadow: none;
        color: $white;
    }

    a {
        color: rgb(100, 58, 197);
    }

    p {
        
    }

    .assignment {
        @include table-card;
    }

    blockquote {
        background: #3b3b3b02;
        border-left: 5px solid $gray;
        color: $white;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }
}

.editor {
    height: 100%;
    width: 80%;

    .delete-chapter {
        background: $clear url("$lib/images/cross.svg") no-repeat center center;
        color: $clear;
        margin-left: 10px;
        width: 10px;
    }

    textarea {
        color: $white;
        height: 100%;
        padding: 10px;
        width: 100%;
    }

    .editor__toolbox {
        align-items: center;
        border: 1px solid #F5F5F738;
        border-radius: 9px 9px 0 0;           
        display: flex;
        padding: 9px 28px;
        padding-left: 0;
        ul {
            display: flex;
            margin: 0 10px;
        }

        li {
            margin: 0 5px;
        }
    }

    input {
        color: $white;
    }

    .option {
        height: 15px;
        width: 15px;
    }

    .bold {
        font-weight: 800;
    }

    .italic {
        font-family: 'Lora', serif;
        font-style: italic;
    }

    .cut {
        text-decoration: line-through;
    }

    .underline {
        text-decoration: underline;
    }

    .attachment {
        background-image: url('$lib/images/editor/attachment.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .link {
        background-image: url('$lib/images/editor/link.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .code {
        background-image: url('$lib/images/editor/code.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .list {
        background-image: url('$lib/images/editor/list.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .quote {
        background-image: url('$lib/images/editor/quote.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .editor__textfield {
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid #9B9A9A;
        box-shadow: inset 0px 0px 6px 1px rgba(230, 223, 223, 0.25);
        border-radius: 0px 0px 9px 9px;
        height: 69%;
    }

    .editor__actions {
        display: flex;
        margin: 0;
        margin-top: 20px;
    }

    form {
        height: 100%;
    }
}

