@import "./styles.scss";

header {
    justify-content: center;
    background: $header-background;
    backdrop-filter: blur(5px);
    border: 1px solid;
    border-image-source: $header-border-color; 
    box-shadow: $header-shadow;
    display: flex;
    height: 64px;
    position: sticky;
    width: 100%;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    padding: 0 25px;
    width: 100%;
    nav {
        display: flex;
        align-items: center;
        ul {
            align-content: center;
            display: flex;
            flex-direction: row;
            list-style: none;
            a {
                color: $gray;
                &:hover {
                    color: $white;
                    font-weight: 700;
                    text-decoration: none;
                }
                &.active {
                    color: $white;
                }
            }

            li {
                align-items: center;
                display: flex;
                margin: 0 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
            
            .btn-container a {
                color: $white;
            }
        }
    }
}

.application-name {
    a {
        color: $white;
        font-size: 20px;
        font-weight: 700;
    }
}